@font-face {
  font-family: "xxmfont"; /* Project id 2358474 */
  src: url('iconfont.woff2?t=1653810713259') format('woff2'),
       url('iconfont.woff?t=1653810713259') format('woff'),
       url('iconfont.ttf?t=1653810713259') format('truetype');
}

.xxmfont {
  font-family: "xxmfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongengduo:before {
  content: "\e60b";
}

.iconpm:before {
  content: "\e7b7";
}

.iconapp:before {
  content: "\e6d5";
}

.iconmypost:before {
  content: "\e6f3";
}

.iconmanage:before {
  content: "\e615";
}

.iconsystem:before {
  content: "\e608";
}

.iconinteractive:before {
  content: "\eb30";
}

.iconshang:before {
  content: "\e688";
}

.iconxia:before {
  content: "\e689";
}

.iconyou:before {
  content: "\e68a";
}

.iconzuo:before {
  content: "\e68b";
}

.iconpeoplefill:before {
  content: "\eb8e";
}

.iconpeople:before {
  content: "\eb93";
}

.icontimefill:before {
  content: "\e737";
}

.icontime:before {
  content: "\e738";
}

.iconhome:before {
  content: "\e6e6";
}

.iconhomefill:before {
  content: "\e6e7";
}

.iconzan1:before {
  content: "\e6c7";
}

.iconadd1:before {
  content: "\e6ae";
}

.iconrss:before {
  content: "\e652";
}

.iconjubao:before {
  content: "\e694";
}

.iconicon-nv:before {
  content: "\e634";
}

.iconzan:before {
  content: "\e651";
}

.iconding:before {
  content: "\e647";
}

.iconsuo2:before {
  content: "\e6a9";
}

.iconnv:before {
  content: "\e673";
}

.iconposts:before {
  content: "\e65a";
}

.iconxinqing:before {
  content: "\e61e";
}

.icondaohang1:before {
  content: "\e65e";
}

.icongonggao:before {
  content: "\e717";
}

.iconguanzhu:before {
  content: "\e80f";
}

.iconquxiaoguanzhu:before {
  content: "\e650";
}

.iconicon_edit:before {
  content: "\e622";
}

.iconfatie:before {
  content: "\e661";
}

.iconzan2:before {
  content: "\e66c";
}

.iconjiage:before {
  content: "\e7d8";
}

.icondongtai1:before {
  content: "\e627";
}

.icondongtai2:before {
  content: "\e629";
}

.iconset:before {
  content: "\e6b9";
}

.icontupian:before {
  content: "\e732";
}

.iconsuo:before {
  content: "\e642";
}

.iconnews:before {
  content: "\e6a3";
}

.iconvideofill:before {
  content: "\e7c7";
}

.iconvideo:before {
  content: "\e7c8";
}

.iconziliao21:before {
  content: "\e6a8";
}

.iconnewgou-copy:before {
  content: "\e670";
}

.iconquanzi:before {
  content: "\e60d";
}

.iconjiahao:before {
  content: "\e66e";
}

.iconzhiding3:before {
  content: "\e60a";
}

.iconjinghua:before {
  content: "\e614";
}

.icondian:before {
  content: "\e611";
}

.icondaoxu:before {
  content: "\e60e";
}

.iconshunxu:before {
  content: "\e610";
}

.iconinfo:before {
  content: "\e6b6";
}

.iconpost:before {
  content: "\e6bf";
}

.icondaohang:before {
  content: "\e674";
}

.iconmoney:before {
  content: "\e6be";
}

.iconshuaxin:before {
  content: "\e628";
}

.iconbiaoqing:before {
  content: "\e69f";
}

.iconmoney1:before {
  content: "\e6c0";
}

.icontag1:before {
  content: "\e72f";
}

.icontag:before {
  content: "\e854";
}

.iconadd:before {
  content: "\e6df";
}

.iconaddition_fill:before {
  content: "\e6e0";
}

.iconaddition:before {
  content: "\e6e1";
}

.iconclose:before {
  content: "\e6ea";
}

.iconmail1:before {
  content: "\e70d";
}

.iconmail_fill:before {
  content: "\e70e";
}

.iconnothing:before {
  content: "\e69b";
}

.iconnav1:before {
  content: "\e663";
}

.iconsearch:before {
  content: "\e741";
}

.iconsearchfill:before {
  content: "\e743";
}

.iconqianbao:before {
  content: "\e6ca";
}

.iconcollection_fill:before {
  content: "\e6eb";
}

.iconcollection:before {
  content: "\e6ec";
}

.iconbrowse_fill:before {
  content: "\e6e4";
}

.iconbrowse:before {
  content: "\e6e5";
}

.iconxiazai:before {
  content: "\e668";
}

.iconQQ:before {
  content: "\e604";
}

.iconcamerafill:before {
  content: "\e664";
}

.iconcamera:before {
  content: "\e665";
}

.iconcommentfill:before {
  content: "\e666";
}

.iconcomment:before {
  content: "\e667";
}

.iconmore:before {
  content: "\e684";
}

.iconmoreandroid:before {
  content: "\e6a5";
}

.iconmessage:before {
  content: "\e6bd";
}

.icontuichu2:before {
  content: "\e619";
}

.iconxie:before {
  content: "\e61d";
}

.iconweixin:before {
  content: "\e64b";
}

.iconcreativefill:before {
  content: "\e718";
}

.iconcreative:before {
  content: "\e71a";
}

.iconicon-nan:before {
  content: "\e62e";
}

.iconpicfill:before {
  content: "\e72c";
}

.iconmoney2:before {
  content: "\e91b";
}

.iconmarkfill:before {
  content: "\e730";
}

.iconmark:before {
  content: "\e731";
}

.icon2peoplefill:before {
  content: "\e735";
}

.icon2people:before {
  content: "\e736";
}

.iconattentionfill:before {
  content: "\e73c";
}

.iconattention:before {
  content: "\e73d";
}

.iconshipin:before {
  content: "\e61b";
}

.iconhotfill:before {
  content: "\e757";
}

.iconhot:before {
  content: "\e758";
}

.iconwritefill:before {
  content: "\e760";
}

.iconwrite:before {
  content: "\e761";
}

.iconnan:before {
  content: "\e648";
}

.iconremindfill:before {
  content: "\e697";
}

.iconremind:before {
  content: "\e698";
}

.iconshijian:before {
  content: "\e63c";
}

